<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>SamuelVille</title>
	<link rel="icon" href="/favicon.ico"/>
	<link rel="stylesheet" href="/index.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
	<h1>SamuelVille Portal</h1>
	{{{body}}}
</body>

</html>
