<h2>Application Accepted</h2>
<h3>Welcome to SamuelVille!</h3>
<h4>Created a Bank Of SamuelVille account:</h4>
<p><b>Account Number: {{id}}
<br />
Balance: 10 SamBucks</b></p>
<h4>Next Steps:</h4>
<a href="/portal">Return to the portal</a>
<a href="/taxes">Calculate your taxes</a>
<a href="/vote">Register to vote!</a>