<h3>Vote:</h3>
<form action="/castvote">
	<label for="5c0o2f73mNfFOu14">Judge - SV 5th CR:</label><br />
	<input type="radio" id="a" name="5c0o2f73mNfFOu14" value="a">
	<label for="a">Jacob Stephens</label>
	<input type="radio" id="b" name="5c0o2f73mNfFOu14" value="b">
	<label for="b">Nathan Jacobs</label><br/>
	<input type="submit" />
</form>
<h3>Taxes:</h3>
<form action="/paytaxes">
	<input type="number" name="sal" placeholder="Hourly Salary" />
	<input type="submit" value="Pay" />
</form>